<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../static/cocktail.css" />
    <title>Document</title>
</head>

<body>
    <h1>Alcohol list</h1>
    <div class="alcohol-list">
        <button>all</button>
        <% alcoholList.forEach(function(item) { %>
        <button><%= item %></button>
        <% }); %>
    </div>
    <table>
        <thead>
            <tr>
                <th>Cocktails</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            <% cocktails.forEach(function(item) { %>
            <tr>
                <% if (item.isAlcoholic === false) { %>
                <td><%= item.name %> (non- alcoholic)<br> <%= item.contains %> </td>
                <td><%= item.price %> Ft</td>
                <% } else { %>
                <td><%= item.name %> <br> <%= item.contains %> </td>
                <td><%= item.price %> Ft</td>
                <% } %>
                <% }); %>
            </tr>
        </tbody>
    </table>

    <script src="../static/frontend.js"></script>
</body>

</html>